<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" action="/addtask" method="POST">
    <input name="task" class="taskname" placeholder="enter task">
    <button class="btn" type="sumbit">Add</button>
    </form>
    <ul class="list">
        {{#each todos as |t|}}
        <li class="listitem">{{t}}</li>
        {{/each}}
    </ul>
</body>
</html>